<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
     <h1>{{>header}}</h1>
     <img class="taxi" src="/img/Taxi logo.png">

    </div>
    
     
    
   

   <h2>{{>footer}}</h2>

  

</body>
</html>
