<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    <h1>{{>header}}</h1>
     <p>{{helpText}}</p>
    </div>
     
  

    <h2>{{>footer}}</h2>

</body>
</html>
